<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.cdac.habitsgarden">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HabitsGarden">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PopActivity"
            android:theme="@style/PopMe"
            >
        </activity>
        <activity android:name=".PopInfBtnesActivity"
            android:theme="@style/PopMe"
            >
        </activity>
        <activity android:name=".CalendarioActivity"></activity>
        <activity android:name=".Habitos" android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
        <activity android:name=".InsertActividad" ></activity>
        <activity android:name=".consultar"></activity>
        <activity android:name=".PomodoroActi" ></activity>




        <service android:name=".Servicio" />
        <service android:name=".ServicioP" />

        <service android:name=".ServicioIntent" />
    </application>

</manifest>